<<<<<<< HEAD .btn-primary {
    background: rgb(252, 81, 1) !important;

    =======.navbar {
        background: #ff0800 !important;
    }

    .footer {
        background: #ff0800 !important;
    }

    h3 {
        color: aliceblue;
    }